body{
    text-align: center;
    justify-items: center;
    margin: 0 auto;
}

.responsive {
    width: 100%;
    height: auto;
}

table {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}

td{
    border: 1px solid black;
}